body{
    height:100vh;
    
}
.sectionbuttons{
    width: 15%;
    margin-left: 13%;
    margin-top: 0%;
    border: 0px;
    background-color:#fcaf03;
    color:white;
}

.sectionbuttons:hover{
    background-color:#fcaf03;
    color:white;
}


#navscroller{
    height: 4px; 
    width:100px; 
    background-color:white;
    margin-left:16%; 
    border-radius: 2px;
}

#nav-fee-table{
    margin-top: 2%;
    height: 10%;
}
#filter-icon{
    float: left;
    margin-left: 10%;
    
}

#sort-icon{
    float: left;
    margin-left: 5%;
    
}

#export-button{
    float: left;
    margin-left: 33%;
    border-color: #fcaf03;
    color: #fcaf03;
}

#search-bar{
    float: left;
    margin-left: 4%;
    padding: 5px 5px;
    padding-right: 0px;
    background-color: #fcaf03;
    width: 19%;
}

#enterTxnNo{
    float: left;
    border-radius: 2px;
    border-width: 0px;
    background-color: #fefafa;
    width: 70%;
    height: 30px;
}

#search-icon-box{
    float: left;
    border-radius: 2px;
    border-width: 0px;
    margin-left: 10%;
    background-color: #fefafa;
}
table{
    margin-left: 10%;
    width: 81.8%;
    margin-top: 2%;
}
td{
    background-color: #f8f4d4;
}
thead{
    background-color: #fcaf03;
    color: #fefafa; 
}

#rem-fee{
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 2%;
    background-color: #f8f4d4;
}

#history-table{
    float: left;
    width:70%;
}

.genreceipts{
    float: left;
    margin-left: 1%;
    width:25%;
}

.receiptbutton{
    margin-top: 10%;
    margin-left:0%;
}


#gen-button{
    margin-top: 3%;
    margin-left: 45%;
}

.form-check-input{
    margin-left: 0rem;
}

#upload-receipt{
    margin-left: 0%;
}

.uploadcontrol{
    width:60%;
    margin-left: 6%;
}