/* @import "./mainstyles.css"; */

.required-field::after {
    content: "*";
    color: red;
}

#achv_table {
    counter-reset: achv-counter;
}

.counter-col::before {
    counter-increment: achv-counter;
    content: counter(achv-counter);
}
