.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.set-width {
    /* display: inline-block;
    width: 100%;
    min-width: 300px; */
    width: 100%;
    table-layout: fixed;
    overflow-wrap: break-word;
}

.required-field::after {
    content: "*";
    color: red;
}

#course_table {
    counter-reset: course-counter;
}

.counter-col::before {
    counter-increment: course-counter;
    content: counter(course-counter);
}
